<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Athanasia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Athanasia.styles.css" asp-append-version="true" />
    <style>
        body {
            background-color: rgb(24,24,24);
        }
    </style>
    @await RenderSectionAsync("styles", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark box-shadow" style="min-height:10vh;">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Libro" asp-action="Index">Athanasia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-evenly">
                    <ul class="navbar-nav flex-grow-1 align-items-center">
                        <partial name="_Menus" />
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Libro" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Producto" asp-action="Buscador">Buscador</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Producto" asp-action="Carrito">Carrito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Pedido" asp-action="Comprar">Comprar</a>
                        </li>
                    </ul>
                    <form asp-controller="Producto" asp-action="Buscador" method="get" class="d-flex gap-2">
                        <input type="text" name="busqueda" class="form-control" />
                        <button class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="d-flex flex-column align-content-center p-5" style="min-height:83.5vh;">
            @RenderBody()
        </div>
    </div>

    <footer class="footer bg-dark text-muted" style="min-height:6vh;">
        <div class="container">
            &copy; 2024 - Athanasia
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("scripts", required: false)
</body>
</html>
