@if (Context.User.Identity.IsAuthenticated == false)
{
    <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle d-flex flex-row align-items-center gap-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
            </svg>
            Usuario
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Usuario" asp-action="Perfil">Login</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Usuario" asp-action="Registro">Registro</a>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link text-light dropdown-toggle d-flex flex-row align-items-center gap-1" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="~/images/usuarios/@Context.User.FindFirst(ClaimTypes.UserData).Value" class="rounded" style="width:3rem;height:3rem;" />
            Usuario
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <a class="dropdown-item" asp-controller="Usuario" asp-action="Perfil">Perfil</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Usuario" asp-action="MetodosPago">Pagos</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Usuario" asp-action="Compras">Historial compras</a>
            </li>
            <li>
                <a class="dropdown-item" asp-controller="Managed" asp-action="Logout">
                    Cerrar sesión
                </a>
            </li>
        </ul>
    </li>
}