@model List<ProductoSimpleView>
@{
    double total = 0;
}
<div class="col-1"></div>
<div class="col-10">
    <table class="table table-light">
        <thead>
            <tr>
                <th style="border-radius:0.35rem 0 0 0;">
                    <h4>Productos</h4>
                </th>
                <th style="border-radius: 0 0.35rem 0 0;">
                    <h5>Precio</h5>
                </th>
            </tr>
        </thead>
    @if (Model == null)
    {
       
                <tr>
                    <td colspan="2" class="p-4">
                        <h6>No tienes productos en el carrito</h6>
                    </td>
                </tr>
    }
    else
    {
       
                @foreach (ProductoSimpleView producto in Model)
                {
                    total += producto.Precio;
                    <tr>
                        <td>
                            <div class="d-flex flex-wrap">
                                <img src="~/images/portadas/@producto.Portada" class="rounded" style="height:20rem;width:13rem;">

                                <div class="d-flex flex-column gap-3 m-4">
                                    <h4>@producto.Titulo</h4>
                                    <h5>@producto.Autor</h5>
                                </div>
                            </div>
                        </td>
                        <td>
                            <h5>@producto.Precio€</h5>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td>
                        <h5>Subtotal (@Model.Count productos): @total€</h5>
                    </td>
                </tr>
    }
        </tbody>
    </table>
</div>