@model List<ProductoSimpleView>
<div class="col-1"></div>
<div class="col-10">
    <h1 class="text-primary">Carrito</h1>
    @if (Model == null)
    {
        <h3 class="text-secondary">No tienes nada en el carrito</h3>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Productos</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductoSimpleView producto in Model)
                {
                    <tr>
                        <td>
                            <img src="~/images/portadas/@producto.Portada" class="rounded" style="height:20rem;width:13rem;">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>