<div class="card bg-light p-5">
    <h1>Cambiar contraseña</h1>
    <h4 class="text-danger">@ViewData["MENSAJE"]</h4>
    <form method="post">
        <label>Nueva contraseña</label>
        <input type="password" name="password" class="form-control mb-3" style="width:15rem;"/>
        <label>Repitir contraseña</label>
        <input type="password" name="password2" class="form-control mb-3" style="width:15rem;"/>
        <button class="btn btn-success">Cambiar</button>
    </form>
</div>
