<div class="col-12 d-flex flex-column justify-content-center">
    <div class="card p-4 m-3 bg-light">
        <h1>TÉRMINOS Y CONDICIONES DE USO</h1>
        <h5>1. Aceptación de los Términos</h5>
        <p>
            Al acceder o utilizar los servicios de la Corporación, Usted acepta los términos y condiciones de uso establecidos en este documento. La Corporación se reserva el derecho de modificar estos términos en cualquier momento sin previo aviso.
        </p>
        <h5>2. Uso Aceptable</h5>
        <p>
            Usted se compromete a utilizar los servicios de la Corporación de manera que no viole las leyes nacionales e internacionales, las leyes de derechos de autor, y las leyes de privacidad. Además, Usted se compromete a no utilizar los servicios para fines maliciosos o dañinos.
        </p>
        <h5>3. Limitación de Responsabilidad</h5>
        <p>
            La Corporación no se hace responsable por cualquier daño o perjuicio directo, indirecto, incidental, especial, o consecuente que pueda resultar de la utilización de los servicios. Los servicios se proporcionan "tal cual" y sin garantías de ningún tipo.
        </p>
        <h5>4. Derechos de Propiedad</h5>
        <p>
            La Corporación posee todos los derechos de propiedad intelectual y de autor sobre los servicios, incluyendo, pero no limitándose a, los diseños, textos, imágenes, y sonidos.
        </p>
        <h5>5. Indemnización</h5>
        <p>
            Usted acepta indemnizar a la Corporación por cualquier daño o perjuicio que resulte de la violación de los términos y condiciones de uso o no.
        </p>
        <h4>AVISO</h4>
        <p>
            Por favor, tenga en cuenta que este documento es puramente ficticio y no debe ser tomado como un documento legal o contractual real. La Corporación no existe en el mundo real y ningún servicio o producto asociado a ella es real. Este texto es un ejemplo de sátira y se presenta solo con fines de entretenimiento y no debe ser utilizado para ningún propósito formal o legal.
        </p>
    </div>
</div>