USE [master]
GO
/****** Object:  Database [ATHANASIA]    Script Date: 04/03/2024 1:41:42 ******/
CREATE DATABASE [ATHANASIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATHANASIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ATHANASIA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATHANASIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ATHANASIA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATHANASIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATHANASIA]
GO
/****** Object:  Table [dbo].[AUTOR]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOR](
	[ID_AUTOR] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](1000) NULL,
	[IMAGEN] [nvarchar](255) NULL,
 CONSTRAINT [PK_AUTOR] PRIMARY KEY CLUSTERED 
(
	[ID_AUTOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_GENEROS] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EDITORIAL]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EDITORIAL](
	[ID_EDITORIAL] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[LOGO] [nvarchar](255) NULL,
 CONSTRAINT [PK_EDITORIAL] PRIMARY KEY CLUSTERED 
(
	[ID_EDITORIAL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID_ESTADO] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_ESTADO] PRIMARY KEY CLUSTERED 
(
	[ID_ESTADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FORMATO]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FORMATO](
	[ID_FORMATO] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_FORMATO] PRIMARY KEY CLUSTERED 
(
	[ID_FORMATO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENERO]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENERO](
	[ID_GENERO] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_GENERO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GENEROS_LIBROS]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GENEROS_LIBROS](
	[ID_GENERO_LIBRO] [int] NOT NULL,
	[ID_GENERO] [int] NULL,
	[ID_LIBRO] [int] NULL,
 CONSTRAINT [PK_CATEGORIAS_LIBROS] PRIMARY KEY CLUSTERED 
(
	[ID_GENERO_LIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LIBRO]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIBRO](
	[ID_LIBRO] [int] NOT NULL,
	[TITULO] [nvarchar](255) NULL,
	[SINOPSIS] [nvarchar](2000) NULL,
	[FECHA_PUBLICACION] [date] NULL,
	[ID_AUTOR] [int] NULL,
	[ID_CATEGORIA] [int] NULL,
	[ID_SAGA] [int] NULL,
 CONSTRAINT [PK_LIBRO] PRIMARY KEY CLUSTERED 
(
	[ID_LIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPINION]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPINION](
	[ID_OPINION] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](255) NULL,
 CONSTRAINT [PK_OPINION] PRIMARY KEY CLUSTERED 
(
	[ID_OPINION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OPINIONES_LIBROS]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPINIONES_LIBROS](
	[ID_OPINIONE_LIBRO] [int] NOT NULL,
	[ID_OPINION] [int] NULL,
	[ID_LIBRO] [int] NULL,
	[ID_USUARIO] [int] NULL,
 CONSTRAINT [PK_OPINIONES_LIBROS] PRIMARY KEY CLUSTERED 
(
	[ID_OPINIONE_LIBRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[ID_PEDIDO] [int] NOT NULL,
	[ID_USUARIO] [int] NULL,
	[FECHA_PEDIDO] [date] NULL,
	[FECHA_ENTREGA] [date] NULL,
 CONSTRAINT [PK_LISTAS_USUARIOS] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PEDIDOS_PRODUCTOS]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS_PRODUCTOS](
	[ID_PEDIDO_PRODUCTO] [int] NOT NULL,
	[ID_PEDIDO] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
 CONSTRAINT [PK_PEDIDOS_PRODUCTOS] PRIMARY KEY CLUSTERED 
(
	[ID_PEDIDO_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] NOT NULL,
	[ISBN] [nvarchar](50) NULL,
	[PRECIO] [float] NULL,
	[STOCK] [int] NULL,
	[ID_FORMATO] [int] NULL,
	[ID_LIBRO] [int] NULL,
	[ID_EDITORIAL] [int] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[ID_ROL] [int] NOT NULL,
	[NOMBRE] [nchar](255) NULL,
	[DESCRIPCION] [nchar](255) NULL,
 CONSTRAINT [PK_ROL] PRIMARY KEY CLUSTERED 
(
	[ID_ROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAGA]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAGA](
	[ID_SAGA] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[DESCRIPCION] [nvarchar](1000) NULL,
 CONSTRAINT [PK_SAGA] PRIMARY KEY CLUSTERED 
(
	[ID_SAGA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [int] NOT NULL,
	[NOMBRE] [nvarchar](255) NULL,
	[APELLIDO] [nvarchar](255) NULL,
	[EMAIL] [nvarchar](255) NULL,
	[PASSWORD] [nvarchar](255) NULL,
	[FECHA_NACIMIENTO] [date] NULL,
	[IMAGEN] [nvarchar](255) NULL,
	[ID_ROL] [int] NULL,
	[ID_ESTADO] [int] NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VALORACION]    Script Date: 04/03/2024 1:41:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALORACION](
	[ID_VALORACION] [int] NOT NULL,
	[PUNTUACION] [int] NULL,
	[COMENTARIO] [nvarchar](2000) NULL,
	[FECHA_COMENTARIO] [date] NULL,
	[ID_USUARIO] [int] NULL,
	[ID_PRODUCTO] [int] NULL,
 CONSTRAINT [PK_VALORACION] PRIMARY KEY CLUSTERED 
(
	[ID_VALORACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AUTOR] ([ID_AUTOR], [NOMBRE], [DESCRIPCION], [IMAGEN]) VALUES (1, N'Brandon Sanderson', N'Prolífico autor de fantasía y ciencia ficción, famoso por sagas como Cosmere y Mistborn. Crea mundos mágicos complejos con sistemas de magia bien desarrollados. Sus historias son emocionantes, con personajes memorables y tramas llenas de acción.', N'brandon_sanderson.png')
INSERT [dbo].[AUTOR] ([ID_AUTOR], [NOMBRE], [DESCRIPCION], [IMAGEN]) VALUES (2, N'J.K. Rowling', N'Autora de la serie de Harry Potter, una de las más vendidas de la historia. Crea personajes entrañables y mundos mágicos llenos de aventuras. Sus obras exploran temas como la amistad, el valor y la lucha contra el mal.', N'jk_rowling.png')
INSERT [dbo].[AUTOR] ([ID_AUTOR], [NOMBRE], [DESCRIPCION], [IMAGEN]) VALUES (3, N'Stephen King', N'Maestro del terror, famoso por obras como "El resplandor" y "Carrie". Explora los miedos humanos con historias macabras y personajes perturbadores. Sus obras son a la vez aterradoras y reflexivas, con un toque de humor negro.', N'stephen_king.png')
GO
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Ficción', N'Narraciones inventadas, que no se basan en hechos reales.')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (2, N'No ficción', N'Narraciones que se basan en hechos reales, como biografías, libros de historia o documentales.')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Cómic', N'Historias ilustradas que se narran en viñetas, con o sin texto.')
GO
INSERT [dbo].[EDITORIAL] ([ID_EDITORIAL], [NOMBRE], [LOGO]) VALUES (1, N'Nova', N'nova.png')
INSERT [dbo].[EDITORIAL] ([ID_EDITORIAL], [NOMBRE], [LOGO]) VALUES (2, N'B de Bolsillo', N'b_bolsillo.png')
INSERT [dbo].[EDITORIAL] ([ID_EDITORIAL], [NOMBRE], [LOGO]) VALUES (3, N'Pottermore Publishing', N'pottermore_publishing.png')
GO
INSERT [dbo].[ESTADO] ([ID_ESTADO], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Activo', N'Usuario activo')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Pendiente', N'Usuario pendiente de activación')
INSERT [dbo].[ESTADO] ([ID_ESTADO], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Eliminado', N'Usuario eliminado')
GO
INSERT [dbo].[FORMATO] ([ID_FORMATO], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Tapa Dura', N'Libro con tapa rígida')
INSERT [dbo].[FORMATO] ([ID_FORMATO], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Tapa Blanda', N'Libro con tapa blanda')
INSERT [dbo].[FORMATO] ([ID_FORMATO], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Ebook', N'Libro digital')
GO
INSERT [dbo].[GENERO] ([ID_GENERO], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Fantasía', N'Historias que se desarrollan en mundos ficticios, a menudo con elementos mágicos o sobrenaturales.')
INSERT [dbo].[GENERO] ([ID_GENERO], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Acción', N'Historias que se centran en la emoción, el suspense y la aventura.')
INSERT [dbo].[GENERO] ([ID_GENERO], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Aventura', N'Historias que siguen a los personajes en viajes emocionantes y llenos de peligros.')
GO
INSERT [dbo].[GENEROS_LIBROS] ([ID_GENERO_LIBRO], [ID_GENERO], [ID_LIBRO]) VALUES (1, 1, 2)
INSERT [dbo].[GENEROS_LIBROS] ([ID_GENERO_LIBRO], [ID_GENERO], [ID_LIBRO]) VALUES (2, 2, 2)
INSERT [dbo].[GENEROS_LIBROS] ([ID_GENERO_LIBRO], [ID_GENERO], [ID_LIBRO]) VALUES (3, 3, 2)
GO
INSERT [dbo].[OPINION] ([ID_OPINION], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Favorito', N'Libro que ha dejado una impresión profunda y que se considera especialmente valioso.')
INSERT [dbo].[OPINION] ([ID_OPINION], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Leído', N'Libro que se ha completado de leer.')
INSERT [dbo].[OPINION] ([ID_OPINION], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Pendiente', N'Libro que se desea leer en el futuro.')
GO
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ISBN], [PRECIO], [STOCK], [ID_FORMATO], [ID_LIBRO], [ID_EDITORIAL]) VALUES (1, N'978-8466658843', 30, 300, 1, 1, 1)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ISBN], [PRECIO], [STOCK], [ID_FORMATO], [ID_LIBRO], [ID_EDITORIAL]) VALUES (2, N'978-8413146041', 15, 300, 2, 1, 2)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ISBN], [PRECIO], [STOCK], [ID_FORMATO], [ID_LIBRO], [ID_EDITORIAL]) VALUES (3, N'B01DKMR9DA', 5, NULL, 3, 1, 1)
GO
INSERT [dbo].[ROL] ([ID_ROL], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Admin                                                                                                                                                                                                                                                          ', N'Administrador con todos los pribilegios.                                                                                                                                                                                                                       ')
INSERT [dbo].[ROL] ([ID_ROL], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Cliente                                                                                                                                                                                                                                                        ', N'Cliente común.                                                                                                                                                                                                                                                 ')
GO
INSERT [dbo].[SAGA] ([ID_SAGA], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Nacidos de la bruma', N'Nacidos de la bruma es una saga de literatura fantástica escrita por el autor estadounidense Brandon Sanderson. Ambientada en un mundo llamado Scadrial, la saga combina elementos de la alta fantasía, la intriga política y la magia única del sistema de alomancia.')
INSERT [dbo].[SAGA] ([ID_SAGA], [NOMBRE], [DESCRIPCION]) VALUES (2, N'El archivo de las tormentas', N'El archivo de las tormentas es una saga de literatura fantástica épica escrita por Brandon Sanderson. La historia se desarrolla en el desolado mundo de Roshar, donde una tormenta sin fin azota la tierra y la sociedad se divide en diferentes naciones que luchan por la supervivencia. La saga sigue a un grupo de personajes conocidos como los Caballeros Radiantes mientras intentan descubrir los secretos del pasado de Roshar y restaurar la paz en el mundo.')
INSERT [dbo].[SAGA] ([ID_SAGA], [NOMBRE], [DESCRIPCION]) VALUES (3, N'Harry Potter', N'Harry Potter es una serie de siete novelas fantásticas escritas por la autora británica J.K. Rowling. La historia gira en torno a Harry Potter, un joven huérfano que descubre que es un mago en su undécimo cumpleaños.')
GO
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [PASSWORD], [FECHA_NACIMIENTO], [IMAGEN], [ID_ROL], [ID_ESTADO]) VALUES (1, N'Administrador', N'Admin', N'admin@example.com', N'password123', CAST(N'1980-01-01' AS Date), N'avatar.jpg', 1, 1)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [PASSWORD], [FECHA_NACIMIENTO], [IMAGEN], [ID_ROL], [ID_ESTADO]) VALUES (2, N'Juan', N'Pérez', N'juan.perez@example.com', N'password123', CAST(N'1990-01-01' AS Date), N'avatar.jpg', 2, 1)
INSERT [dbo].[USUARIO] ([ID_USUARIO], [NOMBRE], [APELLIDO], [EMAIL], [PASSWORD], [FECHA_NACIMIENTO], [IMAGEN], [ID_ROL], [ID_ESTADO]) VALUES (3, N'María', N'Gómez', N'maria.gomez@example.com', N'password123', CAST(N'1995-01-01' AS Date), N'avatar.jpg', 2, 1)
GO
ALTER TABLE [dbo].[GENEROS_LIBROS]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIAS_LIBROS_CATEGORIA] FOREIGN KEY([ID_GENERO])
REFERENCES [dbo].[GENERO] ([ID_GENERO])
GO
ALTER TABLE [dbo].[GENEROS_LIBROS] CHECK CONSTRAINT [FK_CATEGORIAS_LIBROS_CATEGORIA]
GO
ALTER TABLE [dbo].[GENEROS_LIBROS]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIAS_LIBROS_LIBRO] FOREIGN KEY([ID_LIBRO])
REFERENCES [dbo].[LIBRO] ([ID_LIBRO])
GO
ALTER TABLE [dbo].[GENEROS_LIBROS] CHECK CONSTRAINT [FK_CATEGORIAS_LIBROS_LIBRO]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_AUTOR] FOREIGN KEY([ID_AUTOR])
REFERENCES [dbo].[AUTOR] ([ID_AUTOR])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_AUTOR]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_GENEROS] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_GENEROS]
GO
ALTER TABLE [dbo].[LIBRO]  WITH CHECK ADD  CONSTRAINT [FK_LIBRO_SAGA] FOREIGN KEY([ID_SAGA])
REFERENCES [dbo].[SAGA] ([ID_SAGA])
GO
ALTER TABLE [dbo].[LIBRO] CHECK CONSTRAINT [FK_LIBRO_SAGA]
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS]  WITH CHECK ADD  CONSTRAINT [FK_OPINIONES_LIBROS_LIBRO] FOREIGN KEY([ID_LIBRO])
REFERENCES [dbo].[LIBRO] ([ID_LIBRO])
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS] CHECK CONSTRAINT [FK_OPINIONES_LIBROS_LIBRO]
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS]  WITH CHECK ADD  CONSTRAINT [FK_OPINIONES_LIBROS_OPINION] FOREIGN KEY([ID_OPINION])
REFERENCES [dbo].[OPINION] ([ID_OPINION])
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS] CHECK CONSTRAINT [FK_OPINIONES_LIBROS_OPINION]
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS]  WITH CHECK ADD  CONSTRAINT [FK_OPINIONES_LIBROS_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[OPINIONES_LIBROS] CHECK CONSTRAINT [FK_OPINIONES_LIBROS_USUARIO]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_LISTAS_USUARIOS_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_LISTAS_USUARIOS_USUARIO]
GO
ALTER TABLE [dbo].[PEDIDOS_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_PRODUCTOS_PEDIDO] FOREIGN KEY([ID_PEDIDO])
REFERENCES [dbo].[PEDIDO] ([ID_PEDIDO])
GO
ALTER TABLE [dbo].[PEDIDOS_PRODUCTOS] CHECK CONSTRAINT [FK_PEDIDOS_PRODUCTOS_PEDIDO]
GO
ALTER TABLE [dbo].[PEDIDOS_PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_PRODUCTOS_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[PEDIDOS_PRODUCTOS] CHECK CONSTRAINT [FK_PEDIDOS_PRODUCTOS_PRODUCTO]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_EDITORIAL] FOREIGN KEY([ID_EDITORIAL])
REFERENCES [dbo].[EDITORIAL] ([ID_EDITORIAL])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_EDITORIAL]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_FORMATO1] FOREIGN KEY([ID_FORMATO])
REFERENCES [dbo].[FORMATO] ([ID_FORMATO])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_FORMATO1]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_LIBRO1] FOREIGN KEY([ID_LIBRO])
REFERENCES [dbo].[LIBRO] ([ID_LIBRO])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_LIBRO1]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ESTADO] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID_ESTADO])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ESTADO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_USUARIO_ROL] FOREIGN KEY([ID_ROL])
REFERENCES [dbo].[ROL] ([ID_ROL])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_USUARIO_ROL]
GO
ALTER TABLE [dbo].[VALORACION]  WITH CHECK ADD  CONSTRAINT [FK_VALORACION_PRODUCTO1] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[VALORACION] CHECK CONSTRAINT [FK_VALORACION_PRODUCTO1]
GO
ALTER TABLE [dbo].[VALORACION]  WITH CHECK ADD  CONSTRAINT [FK_VALORACION_USUARIO1] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[VALORACION] CHECK CONSTRAINT [FK_VALORACION_USUARIO1]
GO
USE [master]
GO
